:root {
    --submit-colour: hsl(202, 15%, 95%);
    --background-colour: hsl(205, 24%, 88%);
    --link-colour: hsl(210, 50%, 40%);
    --footer-colour: hsl(215, 23%, 41%);
    --nav-colour: hsl(222, 32%, 15%);
    --hover-colour: pink;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    text-align: left;
}

a {
    color: var(--link-colour);
    border-bottom: 0.15rem dotted var(--footer-colour);
    margin: 10rem 0 10rem;
    text-decoration: none;
}

.nav a {
    color: var(--background-colour);
    border-bottom: 0.15rem dotted var(--submit-colour);
}

a:hover {
    color: var(--colour);
    border: 0.15rem dotted var(--footer-colour);
}

.nav a:hover {
    color: var(--submit-colour);
    border-bottom: 0.15rem dotted var(--submit-colour);
}

section {
    padding: 1rem;
    text-align: center;
}

article {
    margin: 0 2rem 0 2rem;
}

footer {
    background-color: var(--footer-colour);
    color: var(--background-colour);
}

.wrapper{
    display: grid;
    background-color: var(--background-colour);
    color: var(--nav-colour);
    grid-template-areas: 
    "nav"
    "title"
    "about-us"
    "bios"
    "reviews"
    "contact"
    "footer"
    ;
    border: 0;
	margin: 0;
	padding: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

.nav {
    grid-area: nav;
    background-color: var(--nav-colour);
    color: var(--background-colour);
}

.nav__items {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.title {
    grid-area: title;
}

.about {
    grid-area: about-us;
}

.about__logo {
    grid-area: about-logo;
}

.about__name {
    grid-area: about-name;
    font-family: 'Permanent Marker', cursive;
}

.profile {
    grid-area: bios;
}

.profile__articles {
    display: flex;
    flex-wrap: wrap;
}

.profile__img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.review {
    grid-area: reviews;
}

.contact {
    grid-area:contact;
    max-width: 50rem;
}

.contact__list {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.contact__list li{
    padding-bottom: 1rem;
}
.contact__tagline{
    padding-bottom: 1rem;
}
.contact__list li label{
    display: inline-block;
    width: 20%;
}
.contact__list li textarea{
    width: 100%;
    min-height: 6rem;
}
.contact__list li input{
    width: 79%;
}
.contact__button{
    width: 10rem;
    height: 2rem;
    background-color: var(--submit-colour);
    border: 1px solid var(--link-colour);
    padding-left: 0.25rem;
}
.footer {
    grid-area:footer;
}

@media only screen and (max-width:400px) {

    
    .wrapper {
        display:grid;
        grid-template-areas: 
            "nav title"
            "nav about-us"
            "nav bios"
            "nav reviews"
            "nav contact"
            "footer footer"
        ;
        width:100%;
    }

    .nav {
        width: 8.5rem;
    }

    .nav__items {
        flex-direction: column;
    }
}

@media only screen and (min-width:700px) {
    
    .wrapper {
        display:grid;
        grid-template-areas: 
            "nav title"
            "nav about-us"
            "nav bios"
            "nav reviews"
            "nav contact"
            "footer footer"
        ;
        width:100%;
    }

    .nav {
        width: 12rem;
    }

    .nav__items {
        flex-direction: column;
    }

    .profile__info {
        width:30%;
    }
}

@media only screen and (min-width:1500px) {
    
    .wrapper {
        display:grid;
        grid-template-areas: 
            "nav title"
            "nav about-us"
            "nav bios"
            "nav reviews"
            "nav contact"
            "footer footer"
        ;
        width:100%;
    }

    .nav {
        width: 12rem;
    }

    .nav__items {
        flex-direction: column;
    }

    .profile__info {
        width:18%;
    }
}