* {                     
    border: 0;
	margin: 0;
	padding: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

:root {
    --colour1: hsl(202, 15%, 95%);
    --colour2: hsl(205, 24%, 88%);
    --colour3: hsl(210, 50%, 40%);
    --colour4: hsl(215, 23%, 41%);
    --colour5: hsl(222, 32%, 15%);
    --colour6: pink;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    text-align: left;
}

a {
    color: var(--colour3);
    border-bottom: 0.15rem dotted var(--colour4);
}

a:hover {
    color: var(--colour5);
    border: 0.15rem dotted var(--colour4);
}

section {
    padding: 1rem;
}

footer {
    background-color: var(--colour4);
    color: var(--colour2);
}

.wrapper{
    display: grid;
    background-color: var(--colour2);
    color: var(--colour5);
    grid-template-areas: 
    "nav"
    "about-us"
    "bios"
    "reviews"
    "contact"
    "footer"
    ;
}

.nav {
    grid-area: nav;
    background-color: var(--colour5);
    color: var(--colour2);
}

.nav__navbar {
}

.nav__items {
}

.about {
    grid-area: about-us;
}

.about__logo {
    grid-area: about-logo;
}

.about__name {
    grid-area: about-name;
}

.about__intro {
}

.profile {
    grid-area: bios;
}

.profile_info {
}
}

.review {
    grid-area: reviews;
}

.review__quote {
}

.contact {
    grid-area:contact;
}

.contact__form {
}

.footer {
    grid-area:footer;
}

@media only screen and (min-width:600px) {

    .wrapper {
        display:grid;
        grid-template-areas: 
        "about-logo about-name"
        "nav     about-us"
        "nav      bios"
        "nav      bios"
        "nav  reviews"
        "nav  contact"
        "footer   footer"
        ;
        width:100%;
    }
}