* {                     /* Found this code that initialises formatting to help fix unexpected browser bugs */
    border: 0;
	margin: 0.25em;
	padding: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: hsla(0,0%,0%,0.08);
}

.wrapper{
    display: grid;
    grid-template-areas: 
    "nav"
    "about-us"
    "bios"
    "reviews"
    "contact"
    "footer"
    ;
}

.header {
    grid-area: nav;
}

.header__navbar {
}

.header__items {
}

.about {
    grid-area: about-us;
}

.about__logo {
    grid-area: about-logo;
}

.about__name {
    grid-area: about-name;
}

.about__intro {
}

.profile {
    grid-area: bios;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile_info {
    flex-direction: column;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.review {
    grid-area: reviews;
}

.review__quote {
}

.contact {
    grid-area:contact;
}

.contact__form {
}

.footer {
    grid-area:footer;
}

@media only screen and (min-width:600px) {
    .wrapper {
        display:grid;
        grid-template-areas: 
        "about-logo about-name"
        "nav     about-us"
        "nav      bios"
        "nav      bios"
        "nav  reviews"
        "nav  contact"
        "footer   footer"
        ;
        width:100%;
    }
}